.imgProducto {
    width: 10%;
    height: 10%;
}

.form-group {
    margin: 5px;
    display: contents;
    width: 100%;
    padding: 5%;
}

.grid-productos {
    width: 15%;
}

.mdc-paginator {
    display: none;
}

.subtotal,
.impuesto,
.total {
    display: flex;
    padding: 0.5px;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #202124;
}
.subtotal {
    border-top: 1px solid rgba(0,0,0,.1);
}
    .subtotal > div,
    .impuesto > div,
    .total > div {
        color: #202124;
        width: 50%;
        padding: 5px;
        border-left: 1px solid rgba(0,0,0,.1);
    }


.subtotal > .titulo,
.impuesto > .titulo,
.total > .titulo {
    background-color: rgba(0,0,0,.08);
}


.datos-totales {
    display: flex;
    width: 100%
}
.datos-totales>div {
    width: 50%
}
.div-button {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}
.div-button>button {
  margin:5px;
}